.container-fluid {
    padding: 0;
    background: linear-gradient(#CA5A5D, #842124);
    justify-items: center;
    justify-content: center;
}

/* NavBar */

.list-div{
   display: grid;
   justify-items: center;
}

button {
    margin-top: 10px;
    display: flex;
}

.cadastro {
    margin-top: 10px;
}

.search-div {
  margin-bottom: 10px;
}

p {
    text-align: center;
    color: #000000;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-ligth .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

/* Rodapé */

footer {
    background-color: #333;
    height: 170px;
    border-top: 2px solid #202020;
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}