.container-fluid {
    padding: 0;
    background: linear-gradient(#CA5A5D, #842124);
    justify-items: center;
    justify-content: center;
}

/* NavBar */

.logo {
  width: 200px;
}

.list-div{
   display: grid;
   justify-items: center;
}

h1 {
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.texto {
    border-radius: 8px;
}

.cadastro{
    color: #000000;
}

button {
    background: linear-gradient(#817777, #1B1919);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 70px;
}

.search-div {
  margin-bottom: 10px;
}

p {
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-ligth .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

/* Pagina de cadastro */

div.cadastros{
    text-align: center;
    margin-bottom: 5px;
}

label {
    color: #000000;
}

.criar {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 10px;
}

/* Agendamento */

.list-group-item {
    border-radius: 10px;
}

.icones-agen {
    width: 50px;
}

.data {
    display: grid;
    grid-gap: 10px;
    justify-items: center;
}

/* Cadastro com sucesso */

.container {
    display: grid;
    justify-items: center;
    justify-content: center;
}

.verificado {
    width: 250px;
    margin-top: 20px;
}

.cadastro {
    text-decoration: none;
}

.cadastro:hover {
    color: #f5f5f5;
}

/* Rodapé */

footer {
    background-color: #333;
    height: 170px;
    border-top: 2px solid #202020;
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}