{% extends 'index.html' %}

{% block title %}Cadastro Realizado com Sucesso{% endblock %}

{% block content %}

{% load static %}
<div class="container">
    <img class="logo" src="{% static 'midias/logoBarbearia.png' %}" alt="Logo da Barbearia">     
        <h1 class="card-title">Cadastro Realizado com Sucesso!!</h1>
        <img class="verificado" src="{% static 'midias/verificado.png' %}" alt="Verificado">
        <p>Nós da Barbearia Royal agradecemos a preferencia.</p>
    <a class="cadastro" href="{% url 'agendamento' %}">Ir para tela de agendamentos</a>
</div>
{% endblock %}
