<!DOCTYPE html>
<html>
<head>
    <title>Agendar Serviço</title>
</head>
<body>
    <h1>Agendar Serviço</h1>
    <form method="post">
        {% csrf_token %}
        <label for="client_name">Nome do Cliente:</label><br>
        <input type="text" id="client_name" name="client_name"><br><br>
        <label for="client_email">E-mail do Cliente:</label><br>
        <input type="email" id="client_email" name="client_email"><br><br>
        <label for="service">Serviço:</label><br>
        <select id="service" name="service">
            {% for service in services %}
                <option value="{{ service.id }}">{{ service.name }} - R$ {{ service.price }}</option>
            {% endfor %}
        </select><br><br>
        <label for="date">Data e Hora:</label><br>
        <input type="datetime-local" id="date" name="date"><br><br>
        <input type="submit" value="Agendar">
    </form>
</body>
</html>
