<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Salão de Beleza{% endblock %}</title>
    <!-- Adicione links para seus arquivos CSS aqui -->
</head>
<body>
    <header>
        <h1>Salão de Beleza</h1>
        <nav>
            <ul>
                <li><a href="{% url 'service_list' %}">Lista de Serviços</a></li>
                <li><a href="{% url 'appointment_create' %}">Agendar Serviço</a></li>
                <!-- Adicione outros links de navegação aqui -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo específico de cada página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ year }} Salão de Beleza. Todos os direitos reservados.</p>
    </footer>

    <!-- Adicione links para seus arquivos JavaScript aqui -->

</body>
</html>
