{% extends 'base.html' %}

{% block title %}Agendamento{% endblock %} 

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Bem-vindo(a), {{ user.username }}!</h1>
    <p>Você está logado(a) como {{ user.username }}.</p>
    <h2>Vamos agendar um de nossos procedimetos?</h2>
    <form method="post" action="{% url 'cadastro_sucesso' %}">
        {% csrf_token %}

        {% load static %}
        <ul class="list-group">
            <li class="list-group-item"><img class="icones-agen" src="{% static 'midias/corte-de-cabelo.png' %}" alt="">Corte de Cabelo</li><br>
            <li class="list-group-item"><img class="icones-agen" src="{% static 'midias/barbearia.png' %}" alt="">Barba</li><br>
            <li class="list-group-item"><img class="icones-agen" src="{% static 'midias/tintura-de-cabelo.png' %}" alt="">Tintura</li><br>
            <li class="list-group-item"><img class="icones-agen" src="{% static 'midias/sobrancelha.png' %}" alt="">Sobrancelha</li><br>
            <!-- Adicione mais procedimentos conforme necessário -->
        </ul>
    <div class="data">
        <label for="data">Data:</label>
        <input type="date" id="data" name="data">
        <label for="horario">Horário:</label>
        <input type="time" id="horario" name="horario">
        <button type="submit">Agendar</button>
    </div>
    </form>
    <h2>Seus agendamentos:</h2>
    <!-- Lista de agendamentos do usuário -->
    <ul>
        {% for agendamento in user.agendamentos.all %}
            <li>{{ agendamento.data }} - {{ agendamento.horario }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'principal' %}">Logout</a>
</div>
{% endblock %}

