{% extends 'base.html' %}

{% block title %}Agendamento{% endblock %} 

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Bem-vindo(a), {{ user.username }}!</h1>
    <p>Você está logado(a) como {{ user.username }}.</p>
    <h2>Faça seu agendamento:</h2>
    <form method="post" action="{% url 'agendamento' %}">
        {% csrf_token %}
        <ul>
            <li><a href="">Procedimento 1</a></li>
            <li><a href="">Procedimento 2</a></li>
            <li><a href="">Procedimento 3</a></li>
            <li><a href="">Procedimento 4</a></li>
            <!-- Adicione mais procedimentos conforme necessário -->
        </ul>
        <label for="data">Data:</label><br>
        <input type="date" id="data" name="data"><br>
        <label for="horario">Horário:</label><br>
        <input type="time" id="horario" name="horario"><br><br>
        <button type="submit">Agendar</button>
    </form>
    <h2>Seus agendamentos:</h2>
    <!-- Lista de agendamentos do usuário -->
    <ul>
        {% for agendamento in user.agendamentos.all %}
            <li>{{ agendamento.data }} - {{ agendamento.horario }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'principal' %}">Logout</a>
</div>
{% endblock %}

