{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}
 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <div class="cadastros">
        <h1>Cadastrar-se</h1>
        <form method="post" action="{% url 'cadastro_sucesso' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="criar" type="submit">Criar</button>
        </form>
    </div>
</body>
</html>
{% endblock %} 
