{% extends 'base.html' %}

{% block content %}
<div class="list-div">
    <h1>Vamos agendar o seu procedimento!</h1>
    <form method="post" action="{% url 'agendamento' %}">
        {% csrf_token %}
        <div class="search-div">
            <p>Usuário</p>
            <input type="text" id="username" name="username" placeholder="Digite o seu usuário" required>
        </div>
        <div class="search-div">
            <p>Senha</p>
            <input type="password" id="password" name="password" placeholder="Digite a sua senha" required>
        </div>
    </form>
    <button type="submit">Login</button>
    <div class="search-div">
        <p class="cadastro">Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
    </div>
</div>
{% endblock %}
