.container-fluid {
    padding: 0;
    background: linear-gradient(#CA5A5D, #842124);
    justify-items: center;
    justify-content: center;
}

/* NavBar */

.logo {
  width: 200px;
}

.list-div{
   display: grid;
   justify-items: center;
}

h1 {
    color: #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-login {
    width: 110%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: linear-gradient(#817777, #1B1919);
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;
}

label.bnt{
    border-color: #f5f5f5;
}

.agenda {
    width: 110%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: linear-gradient(#817777, #1B1919);
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;
}

.texto {
    border-radius: 8px;
}

.cadastro{
    color: #000000;
}

button {
    background: linear-gradient(to bottom, #CA5A5D 5%, #842124 100%);
    margin-top: 10px;
    box-shadow: inset 1px 0px 1px 0px #fce2c1;
    border-radius: 10px;
    border: 2px solid #000000;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 27px;
    text-shadow: 0px -1px 1px #cc9f52;
}

.search-div {
  margin-bottom: 10px;
}

p {
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-ligth .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

/* Pagina de cadastro */

.cadastros{
    text-align: center;
    margin-bottom: 5px;
    width: 40%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    flex-direction: column;
    padding: 20px 35px;
    background: linear-gradient(#817777, #1B1919);
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;
}

label {
    color: #f5f5f5;
    display: block;
    text-align: center;
    margin: 10px;  
    font-family: Arial;
}

.criar {
    background: linear-gradient(to bottom, #CA5A5D 5%, #842124 100%);
    margin-top: 10px;
    box-shadow: inset 1px 0px 1px 0px #fce2c1;
    border-radius: 10px;
    border: 2px solid #000000;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 27px;
    text-shadow: 0px -1px 1px #cc9f52;
}

/* Agendamento */


.btn-check.btn {
    border-radius: 10px;
    background-color: none;
}

.icones-agen {
    width: 50px;
}

.data {
    display: grid;
    grid-gap: 10px;
    justify-items: center;
}

/* Cadastro com sucesso */

.container {
    display: grid;
    justify-items: center;
    justify-content: center;
}

.verificado {
    width: 250px;
    margin-top: 20px;
}

.cadastro {
    text-decoration: none;
}

.cadastro:hover {
    color: #f5f5f5;
}

.logo1 {
    width: 80px;
}

/* Rodapé */

.copyrigth {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo2 {
    width: 80px;
}

footer {
    background-color: #333;
    height: 170px;
    border-top: 2px solid #202020;
}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}